.container {
  max-width: 800px;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.form-label {
  width: 70px;
  margin-right: 5px;
  text-align: left;
  display: flex;
  align-items: center;
}

.form-control {
  border-radius: 10px;
  flex: 1;
  margin-right: 5px;
}

.btn-primary {
  background-color: #5297ac;
  border-color: #5297ac;
}

.btn-primary:hover {
  background-color: #31b0d5;
  border-color: #31b0d5;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn_commit {
  width: 100px;
  border-radius: 10px;
  margin-right: 50px;
}


#birth::placeholder,
#phone::placeholder,
#email::placeholder {
  color: rgb(201, 205, 211);
  font-style: italic;
}